body {
    background-color: #1a3045;
}
.header{
    position: fixed;
    width: 100%;
    color: black;
    text-align: center;
    border-top: 1px solid black;
    background-color: #1e1e1e;
}
.padd{
    padding-top:17px;
}

.inputform{
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    width: 40%;
}
.boxform{
    background-color: #b0bfb4;
    border: 1px solid black;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    width: auto;
    max-width:40%;
}

 .button {
     border: none;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 16px;
 }

 .button.button{
     background-color: #82abed;
     color: white;
 }

 .button.delete{
     background-color: #7d071f;
     color: white;
 }

.button:hover {
    background-color: #e0d3d3;
    color: black;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center; }

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 80%;
    border-collapse:
            collapse; border-spacing: 0;
    border-bottom: 150px;
}

td, th { border: 1px solid #CCC;
    height: 30px;
    }

th {
    background: #F3F3F3;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}
.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    margin: auto;
    padding-left: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}
a.active,a:hover{
    border-left: 5px solid #82abed;
    color: #82abed;
}
.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span{
    letter-spacing: 1px;
}
#check{
    display: none;
}
label #btn{
    background-color: #1e1e1e;
    font-style: normal;
    position: absolute;
    cursor: pointer;
    color: black;
    border: 1px solid black;
    margin: 15px 30px;
    font-size: 29px;
    height: 45px;
    width: 6%;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}
label #cancel{
    font-style: normal;
    position: absolute;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    height: 45px;
    width: 6%;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}
@media(max-width : 860px){
    .sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    header,#btn,#cancel{
        display: none;
    }
    span{
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a{
        height: 60px;
    }
    .sidebar a i{
        margin-left: -10px;
    }
    a:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar a:hover span{
        opacity: 1;
        visibility: visible;
    }
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    border-top: 1px solid black;
    background-color: #1e1e1e;
}







