<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Tutorials - editing tutorial</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i id="btn">&#9776; </i>
    <i id="cancel"> &times </i>
</label>
<div class="sidebar">
    <header>Menu</header>
    <a href="/">Home
        <span>page</span>
    </a>
    <a href="/add_tutorial">Add
        <span>tutorial</span>
    </a>
</div>
<div align="center">
    <div class="padd">
        <img src="/images/tutorials.png">
    </div>
    <br />
    <form action="#" th:action="@{/save}" th:object="${tutorial}"
          method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Edit tutorial №</td>
                <td>
                    <input class="inputform" style="border:1px solid black;" type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input class="inputform" style="border:1px solid black;" type="text" size="50" th:field="*{name}" />
                </td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><textarea class="inputform" style="border:1px solid black;" type="text" th:field="*{content}"></textarea></td>
            </tr>
            <tr>
                <td>Author:</td>
                <td><input class="inputform" style="border:1px solid black;" type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button class="button button" type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
<div id="footer">
    <p align="center"><img src="/images/booklogo.png" width="6%"></p>
    <p>ProgrammingTutorials &copy; All rights reserved.</p>
</div>
</body>
</html>